# Database
# Using SQLite for local development
DATABASE_URL="file:./dev.db"

# Resend API Key for Email Notifications
# Get yours at https://resend.com/
RESEND_API_KEY=""

# Business Email to receive notifications
CONTACT_EMAIL_TO="hello@clovernova.com"

# Analytics (Optional)
# NEXT_PUBLIC_GA_ID=""
